<div class='splash'>
  <h1>
    ProFlows will <strong>change your life</strong>
    <small><br>Welcome to a new dimension of productivity.</small>
  </h1>
  <h5>
    ProFlows turns n00bs into ninjas! Hacks into hackers! PHP devs into real devs! (We jest.)
  </h5>
  
  <h6>This splash-page powered by Backbone.js</h6>
</div>