<form class="form">
  <div class="form-group">
    <textarea class="form-control" autofocus='true' placeholder="Card Title - Press Enter to Submit"></textarea>
  </div>
  <button class="btn btn-success">Add Card</button>
  <a href="#" class="close close-lg">&times;&nbsp;</a>
</form>