<!DOCTYPE html>
<html>
  <head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>
      Welcome to the next dimension of productivity, <%= @user.full_name %>!</h1>
    <p>
      You have successfully signed up for ProFlo.ws.
      <br>
      Use this e-mail to log in: <%= @user.email %>.
    </p>
    <p>
      To log in, follow this link: <%= @url %>
    </p>
    <p>
      Thanks for joining. Come and find your flow!</p>
    </p>
  </body>
</html>