<a href='#/boards/<%= board.get('id') %>'>
  <li class="board-detail">
    <p class="board-title">
      <%= board.escape('title') %>
    </p>
    <ul class="board-controls">
      <li class="board-settings">
        <p class="btn btn-link">Rename</p>
      </li>
      <li class='board-delete'>
        <p class="btn btn-link">Delete</p>
      </li>
    </ul>
  </li>
</a>