<a href='#/boards/<%= board.get('id') %>'>
  <li class="board-detail">
    <p class="board-title">
      <%= board.escape('title') %>
    </p>
    <ul class="board-controls">
      <li class='board-members'>
        <a href="#" class="btn btn-link">Members</a>
      </li>
      <li class='board-settings'>
        <a href="#" class="btn btn-link">Settings</a>
      </li>
      <li class='board-delete'>
        <a href="#" class="btn btn-link">Delete</a>
      </li>
    </ul>
  </li>
</a>