<div>
  <form class="form">
    <div class="form-group">
      <input type="text" class="form-control" autofocus='true'></textarea>
    </div>
    <button class="btn btn-success">Create Project</button>
    <a href="#" class="close close-lg">&times;</a>
  </form>
</div>