<div class="board-create">
  <form class="form">
    <div class="form-group board-form">
      <input type="text"
             id="board-new-title"
             class="form-control"
             autofocus='true'
             placeholder='New Project Title'>
    </div>
    <a href="#" class="close close-lg">&nbsp;&nbsp;&times;</a>
    <button class="btn btn-success board-new-button">Create Project</button>
  </form>
</div>