<div class="dashboard-header">
  <div class="container col-md-offset-2">
    <h4>DASHBOARD</h4>
  </div>
</div>

<div class="row">
  <div class="container col-md-4 col-md-offset-2">
    <div class="boards-header row">
      <h2 class="project-header">My Projects</h2>
    </div>
    <ul id="boards">
    </ul>
  </div>

  <div class="container col-md-4">
    <h2>Project Activity</h2>
    <ul id="activity">
      <li>
        <p>Activity Item</p>
      </li>
    </ul>
  </div>
</div>