<div class='lists-window'>
  <div id="sidebar">
    <h1>
      Panels
    </h1>
    <ul>
      <li>
        Done
      </li>
      <li>
        GEs
      </li>
      <li>
        BWEH
      </li>
      <li>
        SideBarCat
      </li>
      <li>
        SideBarCat
      </li>
      <li>
        Todo
      </li>
      <li>
        Doing
      </li>
    </ul>
  </div>
  <div id="lists">

  </div>

  <div id="list-form">
    
  </div>
</div>