<div class="modal fade" id="logIn">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">  
        <h1 class="modal-title">
          Log in & Start Flowing!
        </h1>
      </div>
      
      <div class="modal-body">
        <div class='signUp-form'>
          <form action='<%= session_url %>' method='post' id='logIn-form'>
            <input type='hidden'
                   name='authenticity_token'
                   value='<%= form_authenticity_token %>'>

            <div class='signUp-inputs form-group'>
              <input type='email'
                     name='user[email]'
                     id='user_email'
                     placeholder='E-Mail'
                     class='form-control'
                     required
                     email>
           
              <input type='password'
                     name='user[password]'
                     id='user_password'
                     placeholder='Password'
                     class='form-control'>
            </div>
  
            <button class='btn btn-danger btn-lg btn-start'>
              Log In
            </button>
          </form>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal">
          Close <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
      </div>
      
    </div>
  </div>
</div>