<div class="modal fade" id="signUp">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">  
        <h1 class="modal-title">
          Start Using ProFlows
        </h1>
      </div>
      
      <div class="modal-body">
        <ul class='errors'>
          <% if flash.now[:errors] %>
            <% flash.now[:errors].each do |error| %>
              <%= "<li>#{error.message}</li>" %>
            <% end %>
          <% end %>
        </ul>
        
        <div class='signUp-form'>
          <form action='<%= users_url %>' method='post'>
            <input type='hidden'
                   name='authenticity_token'
                   value='<%= form_authenticity_token %>'>

            <div class='signUp-inputs form-group'>

              <input type='text'
                     name='user[given_name]'
                     id='user_given_name'
                     placeholder='First Name'
                     class='form-control'>

              <input type='text'
                     name='user[surname]'
                     id='user_surname'
                     placeholder='Last Name'
                     class='form-control'>

              <input type='email'
                     name='user[email]'
                     id='user_email'
                     placeholder='E-Mail'
                     class='form-control'>
           
              <input type='password'
                     name='user[password]'
                     id='user_password'
                     placeholder='Password'
                     class='form-control'>
            </div>
  
            <button class='btn btn-danger btn-lg btn-start'>
              Get Started
            </button>
          </form>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal">
          Close <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
      </div>
      
    </div>
  </div>
</div>