<% @community = true %>
<div class='modals'>
  <%= render 'new' %>
  <%= render 'login' %>
</div>

<div class="dashboard-header">
  <div class="container col-md-offset-2">
    <h4>COMMUNITY</h4>
  </div>
</div>
<div class="container col-md-offset-2">
  <div class="row">
    <div class="col-md-8">
      <h1 class="faq-header">Built With ProFlows</h1>
      <div class="help" data-spy="scroll" data-target=".navbar-help">
        <ul>
          <li class="faq-item">
            <p class="question">
              These projects were built with ProFlows!
            </p>
            <p class="answer">
              <a href="#">ProFlows</a>
            </p>
            <p class="answer">
              <a href="http://georgeashworth.com">GeorgeAshworth.com</a>
            </p>
            <p class="answer">
              Your project could be featured here next! Get flowing!
            </p>
          </li>
        </ul>
      </div>
  </div>
</div>