<div class='dashboard-header'>
  <h1>Dashboard</h1>
</div>

<div id="backbone-target">
  <p>This div's id is backbone-target, target it with some js, ya dums.</p>
  <p>Perhaps a listing of all the users boards?</p><p>Each of which would replace the current view with listing of all the nested lists on that board?</p><p>Which would each display all their nested cards?</p>
</div>