<% @help = true %>
<div class='modals'>
  <%= render 'new' %>
  <%= render 'login' %>
</div>

<div class="dashboard-header">
  <div class="container col-md-offset-2">
    <h4>PROFLOWS HELP</h4>
  </div>
</div>
<div class="container col-md-offset-2">
  <div class="row">
    <div class="col-md-8">
      <h1 class="faq-header">FAQs</h1>
      <div class="help" data-spy="scroll" data-target=".navbar-help">
        <ul>
          <li class="faq-item">
            <p class="question">
              How does even go so far as to make next dimension of productivity?
            </p>
            <p class="answer">
              ProFlows aims to answer that question.
            </p>
          </li>
          
          <li class="faq-item">
            <p class="question">
              Will there ever be real help documentation?
            </p>
            <p class="answer">
              Yes. Don't hold your breath, though.
            </p>
          </li>
          
          <li class="faq-item">
            <p class="question">
              This software doesn't even foo or bar! 
            </p>
            <p class="answer">
              That's because of reasons.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>