<div class='main'>

<%= render 'new' %>

<nav class='navbar navbar-default' role='navigation'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button'
              class='navbar-toggle'
              data-toggle='collapse'
              data-target='navbar-collapse'>
        Toggle Navigation
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ProFlows</a>
    </div>
  </div>
</nav>

<div class='stripe'>
  <%= image_tag 'logo.png' %>
  <h1>Rainbo makes it easy to organize anything with anyone.</h1>
  <p>Drop the lengthy email threads, out-of-date spreadsheets, no-longer-so-sticky notes, and clunky software for managing your projects and get Rainbo, the easy, free, and visual way to organize your importan stuff.</p>
  
  
  
  <button class='btn btn-primary btn-lg'
          data-toggle='modal'
          data-target='#signUp'>
          Sign Up - It's Free!
  </button>
  <a href='session/new' class='btn btn-link'>Or log in</a>
</div>
<div class='offstripe'>
  <img src='https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/1b9998f5904ab88ae97ddeb27eb06899/home-hero.png'>
  
  <p>This is a Rainbo board. It's a list of lists filled with cards, used with a team or by yourself. You drag and drop cards between lists to show progress. You add and reorder lists as you need.<strong>Rainbo adapts to your project and your workflow.</strong></p>
  <p>You'll see everything about your project just by glancing at the board, and it all updates in real-time. There's nothing to set up and everyone gets it instantly.</p>
  <p>Rainbo stays perfectly in sync across all your devices, wherever you are. Rainbo is fast and intuitive on the web, Android phones and tablets, iPhone and iPad, Kindle Fire, and Windows 8.</p>
</div>
<div class='stripe'>
  <p>Rainbo is simple on the surface, but cards have <strong>everything you need to get stuff done</strong>. Post comments for instant feedback. Upload files from your computer, Google Drive, Dropbox, Box, and OneDrive. Add checklists, labels, due dates, and more. Notifications make sure you always know when important stuff happens.</p>
  <img src='https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/6ad5bda38ea7bb3aef295d5298ded1f7/home-card-detail.png'>
</div>
<div class='offstripe'>
  <p>Rainbo will never overwhelm you with features you won't use. For those who want more out of their boards, there are <strong>Power-Ups</strong> like calendar, card aging, and voting, that you can turn on. It's a way to offer more without cluttering things for everyone.</p>
</div>
<div class='stripe logos'>
  <p><strong>Millions of people</strong> and companies of all kinds and sizes love using Rainbo.</p>
  <img src='https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/company-logos/a5a1e032b6ef8af3bf811528af1987c7/microsoft.svg'>
  <img src='https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/company-logos/cf3d17e5d005384cc51cc99fc8fbaccd/tumblr.svg'>
  <img src='https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/company-logos/5cfdcb785e0c1032a902ae27cbf49cef/spotify.svg'>
  <img src='https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/company-logos/675e4cee750c09081b553163f7211ceb/thenewyorktimes.svg'>
</div>