<div class='modals'>
  <%= render 'new' %>
  <%= render 'login' %>
</div>

<div class='splash'>
    <h1>
      ProFlows will <strong>change your life</strong>
      <small><br>Welcome to a new dimension of productivity.</small>
    </h1>
    <h5>
      ProFlows turns n00bs into ninjas! Hacks into hackers! PHP devs into real devs! (We jest.)
    </h5>
</div>