<div class='modals'>
  <%= render 'new' %>
  <%= render 'login' %>
</div>

<div class='splash static-show'>
  <h1>
    ProFlows will <strong>change your life</strong>
    <small><br>Welcome to a new dimension of productivity.</small>
  </h1>
  <h5>
    ProFlows turns n00bs into ninjas! Hacks into hackers! Baby devs into full-grown full-stack engineers slinging code left and right!
  </h5>
</div>