<div class='modals'>
  <%= render 'new' %>
  <%= render 'login' %>
</div>

<div class="dashboard-header megatron">
  <div class="col-md-offset-1">
    <h4>
      REAL-TIME SOFTWARE PROJECT TRACKER WITH CONFERENCE CALLING
    </h4>
  </div>
</div>


<div class="col-md-12 splash-box">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-6 splash-left">
        <ul class="ultra-list">
          <li class="ultra">
            <p>
              <span class="ultra-text"><strong>NEXTLEVEL</strong></span>
            </p>
          </li>
          <li class="ultra">
            <p>
              <span class="ultra-text"><strong>SOFTWARE</strong></span>
            </p>
          </li>
          <li class="ultra">
            <p>
              <span class="ultra-text"><strong>PROJECT</strong></span>
            </p>
          </li>
          <li class="ultra">
            <p>
              <span class="ultra-text"><strong>TRACKING</strong></span>
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-6 splash-right">
        <p class="splash-text">
          Real-time, collaborative
        </p>
        <p class="splash-text">
          project management
        </p>
        <p class="splash-text">
          with <span class='feature'>conference calling</span>
        </p>
        <p class="splash-text">
          for Agile dev teams.
        </p>
        <p class="splash-rule"></p>
        <p class="splash-text">
          Start flowing today!
        </p>
        <p class="splash-text">
          Beta Access is 100% free!
        </p>
        <p class="splash-text">
          <%= User.count %> users flowing and counting!
        </p>
        <p class="splash-rule"></p>
        <p class="splash-text">
          <a href="#"
             class="splash-signup"
             data-toggle="modal"
             data-target="#signUp">
             SIGN UP FOR THE BETA
           </a>
        </p>
        <p class="splash-text">
          OR
        </p>
        <p class="splash-text">
          <a href="#"
             class="splash-login"
             data-toggle="modal"
             data-target="#logIn">
             LOG IN NOW
          </a>
        </p>
      </div>
    </div>
  </div>
</div>