/*
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: Montserrat;
  text-align: center;
  margin: 0px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  padding: 5px;
  text-align: left;
  font-size: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.signUp-form:after {
  content: "";
  clear: both;
  display: table;
}

.signUp-form input {
  display: block;
  width: 100%;
  margin: 20px auto;
}

.btn-start {
  cursor: pointer;
}

.search-form {
  display: inline-block;
}