/*
 *= require bootstrap
 *= require jquery-ui/sortable
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Montserrat);

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Montserrat;
}

#boards {
  list-style-type: none;
}

.container-fluid {
  padding: 0px;
}

.backdrop {
  height: 100%;
  background-color: #f6f6f6;
}

.backdrop:after {
  content: "";
  clear: both;
  display: table;
}

.splash {
  margin-left: 15px;
}

.footer {
  position: absolute;
  padding-right: 15px;
  width: 100%;
  height: 60px;
  background-color: lightgrey;
}

.navbar {
  padding-left: 15px;
  background-color: #2A4A7A;
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.dashboard-header {
  margin: 0px;
  background-color: #26282E;
}

.dashboard-header h1 {
  width: 100%;
  margin: 0px;
  padding: 5px 0px 5px 14px;
  color: white;
}

.footer div {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.signUp-form:after {
  content: "";
  clear: both;
  display: table;
}

.signUp-form input {
  display: block;
  width: 100%;
  margin: 20px auto;
}

.btn-start {
  cursor: pointer;
}

.search-form {
  display: inline-block;
}

.nav-user-auth {
  float: right;
}

.nav-user-auth li {
  display: inline-block;
}