/*
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import "bootstrap";

body {
  font-family: Montserrat;
  text-align: center;
  margin: 0px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  padding: 5px;
  text-align: left;
  font-size: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.signUp-form:after {
  content: "";
  clear: both;
  display: table;
}

.signUp-form input {
  display: block;
  width: 100%;
  margin: 20px auto;
}

.btn-start {
  cursor: pointer;
}

.stripe {
  background-color: #4E6CA4;
}

.stripe .btn-primary {
  font-size: 28px;
  border-radius: 0px;
}

.logos img {
  background: black;
  display: inline-block;
  padding: 20px;
}

.offstripe img {
  padding: 60px;
}