#main {
  position: fixed;
  top: 35px;
  width: 100%;
  bottom: 0px;
  padding: 0px;
  background-color: #f6f6f6;
}

#main:after {
  content: "";
  clear: both;
  display: table;
}

#boards {
  margin: 0px 0px 0px -15px;
  height: 600px;
  overflow: auto;
  list-style-type: none;
}

.board-show-header {
  width: 100%;
  background: black;
  color: white;
}

.board-controls {
  display: none;
  padding-left: 0px;
  list-style-type: none;
}

.controls-visible {
  display: inline-block;
}

.board-controls li {
  display: inline-block;
}

.board-show-header h1 {
  margin: 0px 0px 0px 15px;
}
/*
 *= require bootstrap
 *= require jquery-ui/sortable
 *= require_tree .
 *= require_self
 */


html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial;
}

.row {
  padding-left: 15px;
}

.col-md-12 {
  padding: 0px;
}

.splash {
  margin-left: 15px;
}

.static-show {
  margin-top: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-right: 15px;
  width: 100%;
  height: 60px;
  background-color: lightgrey;
}

.navbar {
  min-height: 35px;
}

body nav.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  background-color: #21608a;
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  padding-top: 10px;
}

.footer div {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.signUp-form:after {
  content: "";
  clear: both;
  display: table;
}

.signUp-form input {
  display: block;
  width: 100%;
  margin: 20px auto;
}

.btn {
  cursor: pointer;
}

.search-form {
  display: inline-block;
}

.nav-user-auth {
  float: right;
}

.nav-user-auth li {
  display: inline-block;
}

.project-header {
  display: inline-block;
  margin-left: 14px;
}

.board-create {
  height: 60px;
  margin-left: 5px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid black;
}

.board-create form {
  padding: 10px;
}

.board-create .close {
  float: right;
  margin-top: 6px;
}

.board-new-button {
  float: right;
}

.board-new {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.board-form {
  display: inline-block;
}

.board-detail {
  font-size: 18px;
  border: 1px solid grey;
  margin: 5px;
  height: 100px;
  margin-left: -21px;
  padding: 20px 0px 15px 20px;
  background: white;
}

.board-detail:hover {
  background: #eff6f6;
};

.dashboard-header {
  background-color: #32353C;
  width: 100%;
  margin: 35px 0px 0px 0px;
  color: white;
}

#main div.dashboard-header {
  margin: 0px;
}

.dashboard-header:after {
  content: "";
  clear: both;
  display: table;
} 

.dashboard-header div h4 {
  margin: 0px;
  font-weight: normal;
  padding: 10px 0px 10px 15px;
}