#main {
  position: fixed;
  top: 35px;
  width: 100%;
  bottom: 0px;
  padding: 0px;
  background-color: white;
}

#main:after {
  content: "";
  clear: both;
  display: table;
}

#boards {
  margin: 0px 0px 0px -15px;
  overflow: auto;
  list-style-type: none;
}

.board-show-header {
  width: 100%;
  background: black;
  color: white;
}

.board-controls {
  display: none;
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.controls-visible {
  display: inline-block;
}

.board-controls li {
  margin-left: 0px;
  display: inline-block;
}

.board-controls .btn.btn-link {
  padding-left: 0px;
}

.btn {
  cursor: pointer;
}

.project-header {
  display: inline-block;
  margin-left: 2px;
}

.board-title {
  text-transform: capitalize;
}

.board-create {
  height: 60px;
  margin-left: 5px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid black;
}

.board-create form {
  padding: 10px;
}

.board-create .close {
  float: right;
  color: black;
  margin-top: 6px;
}

.board-new-button {
  float: right;
}

.board-new {
  float: left;
  margin-left: 5px;
}

.board-form {
  display: inline-block;
}

.board-detail {
  font-size: 18px;
  border: 1px solid grey;
  margin: 5px;
  height: 100px;
  margin-left: -21px;
  padding: 20px 0px 15px 20px;
  background: white;
}

.board-detail:hover {
  background: #eff6f6;
};

.dashboard-header {
  background-color: #32353C;
  width: 100%;
  margin: 35px 0px 0px 0px;
  color: white;
}

#main div.dashboard-header {
  margin: 0px;
}

.dashboard-header:after {
  content: "";
  clear: both;
  display: table;
} 

.dashboard-header div h4 {
  margin: 0px;
  font-weight: normal;
  padding: 10px 0px 10px 15px;
}

.projects {
  margin-top: 5px;
  margin-right: 5px;
}

.project-activity {
  margin-top: 5px;
  margin-left: 5px;
}

.list-cards.ui-sortable {
  height: 100%;
}

#sidebar {
  position: absolute;
  display: inline-block;
  padding-left: 5px;
  color: white;
  width: 200px;
  height: 100%;
  background-color: darkgrey;
  vertical-align: top;
}

.list-hide {
  float: left;
  color: white;
  cursor: pointer;
}