.list-display {
  display: inline-block;
  width: 300px;
  border: 1px solid #2c2d2f;
  background-color: #484f57;
  height: 100%;
  vertical-align: top;
}

.lists-window {
  overflow-x: auto;
  height: 100%;
  width: 99999px;
  position: absolute;
  bottom: 0px;
  background-color: #2c2d2f;
}

.list-title {
  text-transform: capitalize;
  color: white;
  font-size: 18px;
}

.list-plus {
  color: white;
  margin-right: 5px;
  float: right;
  font-size: 18px;
}

.list-footer {
  height: 20px;
  border-left: 1px solid #3c3d3f;
  border-right: 1px solid #3c3d3f;
  border-top: 1px solid black;
  background-color: #2c2d2f;
}

.list-heading {
  text-align: center;
  padding: 7px 0px 7px 0px;
  background-color: #2c2d2f;
  width: 100%;
  border-right: 1px solid #3c3d3f;
  border-bottom: 1px solid black;
  margin: 0px;
}

#lists {
  position: absolute;
  left: 200px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 100%;
  display: inline-block;
  margin-left: 10px;
}

.list-sort-placeholder {
  height: 100%;
  vertical-align: top;
  display: inline-block;
  width: 300px;
  border: 5px dashed lightgrey;
  background-color: #2c2d2f;
}