.list-display {
  float: left;
  width: 200px;
  margin: 2px;
  border: 1px solid darkgrey;
  background-color: lightgrey;
}

.list-heading {
  background-color: darkgrey;
  width: 100%;
  border: none;
  margin: 0px 0px 10px 0px;
}