<div class="footer">
  <div class="container-fluid pull-right">
    <a class="navbar-link" href="#">Help</a> |
    <a class="navbar-link" href="#">Privacy</a> |
    <a class="navbar-link" href="#">Careers</a> |
    <a class="navbar-link" href="#">Contact</a> |
    <a class="navbar-link"
       href="http://georgeashworth.com/">
      <span class="glyphicon glyphicon-copyright-mark"></span>2014
      George Ashworth
    </a> 
  </div>
</div>