<div class="footer">
  <div class="container-fluid pull-right">
    <a class="navbar-link" href="#/contact">Contact</a> |
    <a class="navbar-link" href="#/careers">Jobs</a> |
    <a class="navbar-link" href="#/privacy">Privacy</a> |     
    <a class="navbar-link"
       href="http://georgeashworth.com/">
      <span class="glyphicon glyphicon-copyright-mark"></span> 2014
      George Ashworth
    </a> 
  </div>
</div>