<form class="form panel-form">
  <div class="form-group">
    <label for="list-title" style="margin-bottom: -5px">
    <input id="user-email" placeholder="User E-Mail" type="text" class="form-control" id="list-title">
  </div>
  <button class="btn btn-success" style="margin-top: -10px">Add Member</button>
  <a href="#" class="close close-lg">&times;&nbsp;</a>
</form>