<form class="form">
  <div class="form-group">
    <label for="list-title">
    <input type="text" class="form-control" id="list-title">
  </div>
  <button class="btn btn-success">Add List</button>
  <a href="#" class="close close-lg">&times;&nbsp;</a>
</form>