<div class="list-heading" data-list-id="<%= list.id %>">
  <span class="list-hide">&nbsp;&nbsp;&#x2715;</span>
  <span class="list-title"><%= list.escape('title') %></span>
</div>

<div class="list-cards">
</div>

<div class='list-footer'>
</div>